.header-image {
	width: 100%;
}

.headline h1 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 6px;
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
}

.author-byline h5 {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 6px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

.author-byline h6 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 4px;
	padding-top:0px;
	padding-bottom: 10px;
	text-align: center;
}

.header p {
    font-family: 'Roboto'

    letter-spacing: 4px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.TheFameMonster h5 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
}

.TheRat h5 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
}

.NickAndRachel h5 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
}

.MySoCalledRealLife h5 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
}


.valign-wrapper {
	padding-top: 50px;
	padding-bottom: 30px;
}
















